<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<ul>
  <% @properties.each do |property| %>
  <li>
    <h3><%= property.title %></h3>
    <p><b><%= "Price: $#{property.price}" %></b></p>
    <p><i><%= property.description %></i></p>
    <p><%= "City: #{property.city}" %></p>
    <p><%= "Posted by: #{property.user.name}" %></p>
    <p><%= link_to 'Show', property %></p>
  </li>
  <% end %>
</ul>

<br>

