<p id="notice"><%= notice %></p>

<h2>
  <%= @property.title %>
</h2>

<div id="main-container" class="container">
  <div class="row">
    <div id="content" class="col-xs-4">
      <p>
        <b>$<%= @property.price %></b>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @property.description %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @property.city %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @property.address %>
      </p>

       <p>
        <strong>Owner:</strong>
        <%= User.find(@property.user_id).name %> <br>
        <%= User.find(@property.user_id).email %><br>

      </p>
    </div>
    <div id="content" class="col-xs-8">
      <p><b>Photos:</b></p>
        <ul>
          <% @property.photos.each do |photo| %>
            <li>
              <%= image_tag photo.photo %> <br>
              <%= photo.description %>
              <% if logged_in? && current_user.id == @property.user_id %>
                <%= link_to 'Delete', photo, method: 'delete' %>
              <% end %>
          </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>


<h3>Comments:</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Comment</th>
      <th>Date</th>
      <th></th>
      <th colspan="4"></th>
    </tr>
  </thead>

    <tbody>
    <% @property.comments.each do |comment| %>
      <tr>
        <td><b><%= User.find(comment.user_id).name %></b></td>
        <td><%= comment.text %></td>
        <td><%= comment.created_at.to_date %></td>
        <% if logged_in? && (current_user.id == @property.user_id ||  current_user.id == comment.user_id) %>
          <td><%= link_to 'Delete', comment, method: 'delete' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="main-container" class="container">
  <div class="row">
    <div id="content" class="col-xs-6">
      <%= render 'comment_form' %>
    </div>
    <div id="content" class="col-xs-6">
      <% if logged_in? && current_user.id == @property.user_id %>
        <%= render 'photo_form' %>
      <% end %>
    </div>
  </div>
</div>

<% if logged_in? && current_user.id == @property.user_id %>
  <%= link_to 'Edit', edit_property_path(@property) %> |
<% end %>
<%= link_to 'Back', properties_path %>
